<h1>{{ .Site.Params.author }}
{{ partialCached "dark-mode-toggle.html" . }}
</h1>
{{ if reflect.IsSlice .Site.Params.info }}
<h2>{{ range .Site.Params.info }}{{ . | markdownify }}<br>{{ end }}</h2>
{{ else }}
<h2>{{ .Site.Params.info | markdownify }} </h2>
{{ end }}

{{ with .Site.Params.base }}
  {{ if .schoolurl }}
    <i class="fa fa-building"></i>&thinsp;
    <a href="{{ .schoolurl }}" target="_blank">
      {{ .school }}
    </a>
  {{ else }}
    <i class="fa fa-building"></i>&thinsp;{{ .school }}
  {{ end }}
  <br />
  <i class="fa fa-map-marker"></i>&nbsp;&thinsp;{{ .city }}
{{ end }}
