<h1>{{ .Site.Params.author }}
  <a id="dark-mode-toggle">
    <i class="fa fa-moon-o fa-fw hidden-when-dark" aria-hidden="true"></i>
    <i class="fa fa-lightbulb-o fa-fw hidden-when-light" aria-hidden="true"></i>
  </a>
</h1>
{{ if reflect.IsSlice .Site.Params.info }}
<h2>{{ range .Site.Params.info }}{{ . | markdownify }}<br>{{ end }}</h2>
{{ else }}
<h2>{{ .Site.Params.info | markdownify }} </h2>
{{ end }}

{{ with .Site.Params.base }}
  {{ if .schoolurl }}
    <i class="fa fa-building"></i>&thinsp;
    <a href="{{ .schoolurl }}" target="_blank">
      {{ .school }}
    </a>
  {{ else }}
    <i class="fa fa-building"></i>&thinsp;{{ .school }}
  {{ end }}
  <br />
  <i class="fa fa-map-marker"></i>&nbsp;&thinsp;{{ .city }}
{{ end }}
